.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.nav-items {
  display: flex;
}

.nav-title{
  text-align: center;
  width: 150px;
  padding: 1rem;
}

.nav-item {
  width: 150px;
  text-align: center;
  padding: 1rem;
}

main {
  padding: 1rem;
}

section {
  padding: 1rem;
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #282c34;
  color: white;
}
